* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    // font-size: 1.1rem;
}

.add-vehicle-content {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    background-color: #fff;

    &__sub {
        width: 100%;
        height: 100%;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;

        &__vehicle {
            width: 70%;
            height: 40vh;
            margin: auto;
            display: grid;
            grid-template-columns: 50% 50%;

            &__image {
                width: 100%;
                height: 100%;
                margin: auto;

                img {
                    width: 50vh;
                    height: 40vh;
                    margin-left: 2.3vw;
                    border-radius: 20px;
                }

                &__button-upload {
                    width: 4.5vh;
                    height: 4.5vh;
                    border-radius: 50%;
                    background-color: #ddd;
                    cursor: pointer;
                    display: flex;
                    position: absolute;
                    top: 59%;
                    left: 43%;
                }

                &__icon {
                    color: #000;
                    font-size: 3vh;
                    margin: auto;
                }
            }

            &__info {
                width: 100%;
                height: 100%;
                margin: auto;

                &__item {
                    display: grid;
                    padding: auto 0;
                    grid-template-columns: 30% 70%;

                    .span {
                        font-weight: bold;
                        text-align: right;
                        margin-top: 5px;
                        font-size: 1.1rem;
                        width: 6vw;
                    }
                    .textarea {
                        height: 15vh !important;
                        font-size: 16px !important;
                    }
                    .text {
                        font-size: 16px !important;
                    }
                    input {
                        height: 5vh !important;
                    }

                    input:hover {
                        box-shadow: 0 0 3px #41bc3f !important;
                    }

                    input:hover {
                        box-shadow: 0 0 3px #41bc3f !important;
                        border-color: #41bc3f !important;
                    }
                }
            }
        }

        &__cavet {
            width: 70%;
            height: 100%;
            padding-top: 2vh;
            margin: auto;
            display: grid;
            grid-template-columns: 50% 50%;

            &__item {
                width: 100%;
                height: 100%;
                .span {
                    font-weight: bold;
                    font-size: 1.1rem;
                    margin-left: 3vw;
                }

                &__image {
                    width: 100%;
                    height: 100%;
                    display: flex;

                    &__button-upload-one {
                        width: 4.5vh;
                        height: 4.5vh;
                        border-radius: 50%;
                        background-color: #ddd;
                        cursor: pointer;
                        display: flex;
                        position: absolute;
                        top: 108%;
                        left: 43%;
                    }
                    &__button-upload-two {
                        width: 4.5vh;
                        height: 4.5vh;
                        border-radius: 50%;
                        background-color: #ddd;
                        cursor: pointer;
                        display: flex;
                        position: absolute;
                        top: 108%;
                        left: 76.4%;
                    }

                    &__icon {
                        color: #000;
                        font-size: 3vh;
                        margin: auto;
                    }

                    img {
                        width: 50vh;
                        height: 40vh;
                        margin: 0 auto;
                        border-radius: 20px;
                    }
                }
            }
        }

        &__button {
            margin: auto;
            padding: 7vh 0 5vh 0;
            button {
                margin: 0 20px;
                width: 7vw;
                height: 5vh;
                border: none;
                border-radius: 20px;
                color: #000;
                font-size: 1.1rem;
                text-align: center;
                cursor: pointer;
            }

            .button-cancel {
                background-color: #c0c0c0;
            }

            .button-cancel:hover {
                box-shadow: 0 0 5px #777;
                background-color: #777;
                color: #fff;
            }

            .button-save {
                background-color: #b4e2b3;
            }

            .button-save:hover {
                box-shadow: 0 0 5px #41bc3f;
                background-color: #41bc3f;
                color: #fff;
            }
        }
    }
}

.ant-input-focused,
.ant-input:focus {
    box-shadow: 0 0 3px #41bc3f;
    border-color: #41bc3f;
}

.ant-input:hover {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
}
