.parking-lot-list-content {
    width: 100%;
    min-height: 84vh;
    height: fit-content;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 20px;
    font-size: 1.1rem;
    margin: auto;

    &__action {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 40% 35% 25%;
        padding: 0.5% 3%;

        &__select {
            width: 100%;

            select {
                width: 4vw;
                height: 5.5vh;
                background-color: #f0f0f0 !important;
                border-radius: 20px;
                border: none;
                text-align: center;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        &__filter-state {
            width: fit-content;
            margin: auto;
            .span {
                margin-right: 1vw;
            }
            button {
                width: 5.5vw;
                height: 5.5vh;
                border: none;
                text-align: center;
                background-color: #f0f0f0;
                font-size: 1rem;
                cursor: pointer;
            }
            .button-active {
                background-color: #b4e2b3;
                transition: 0.5s;

                &__left {
                    background-color: #b4e2b3;
                    border-radius: 20px 0 0 20px;
                    transition: 0.5s;
                }
                &__right {
                    background-color: #b4e2b3;
                    border-radius: 0 20px 20px 0;
                    transition: 0.5s;
                }
            }
            .button-unactive {
                background-color: #f0f0f0;
                &__left {
                    background-color: #f0f0f0;
                    border-radius: 20px 0 0 20px;
                }
                &__right {
                    background-color: #f0f0f0;
                    border-radius: 0 20px 20px 0;
                }
            }
        }

        &__search {
            width: 100%;
            position: relative;
            button {
                display: none;
            }

            &__icon {
                position: absolute;
                top: 1.5vh;
                left: 1vw;
                color: #777;
                z-index: 1;
            }
        }
    }

    &__sub {
        width: 95%;
        margin: auto;
        &__table {
            table {
                margin-top: 1%;
                tr {
                    height: 5px !important;
                    cursor: pointer;
                    th {
                        padding: 1.5vh !important;
                        font-size: 1.1rem;
                    }
                    td {
                        font-size: 1rem !important;
                        padding: 2vh 0 2vh 1.5vh;
                        max-width: 10vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            &__row-red {
                td:nth-child(4) {
                    color: red;
                }
            }

            &__row-green {
                td:nth-child(4) {
                    color: #41bc3f;
                }
            }
        }
    }
}

.parking-lot-list-modal {
    width: 50vw !important;
    height: fit-content !important;
    margin: auto !important;

    .h1 {
        text-align: center;
        margin-bottom: 5vh;
        font-size: 2rem;
    }

    .div {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 1vh 0;
        font-size: 1rem;

        .span1 {
            width: 100%;
            text-align: right;
            font-weight: bold;
        }

        .span2 {
            margin-left: 10%;
            max-width: 80%;

            &-red {
                margin-left: 10%;
                color: red;
            }

            &-green {
                margin-left: 10%;
                color: #41bc3f;
            }
            &-italic {
                margin-left: 10%;
                font-style: italic;
                color: #888;
            }
        }
    }

    .ant-modal-content {
        border-radius: 20px !important;

        .ant-modal-header {
            border-radius: 20px 20px 0 0;
            background-color: #e9e9e9;
        }

        .ant-modal-body {
            height: fit-content !important;
        }
    }
}

.ant-input-group .ant-input {
    background-color: #f0f0f0;
}

.ant-input-affix-wrapper {
    height: 5.5vh;
    padding-left: 3vw;
    border-radius: 20px !important;
    background-color: #f0f0f0;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-right-width: 1px;
    z-index: 1;
}

.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-right-width: 1px;
    outline: 0;
}

.ant-input-search-button:hover {
    background-color: transparent;
}

//--------------------------------Parking-lot User--------------------------------------
.parking-lot-list-container {
    width: 100%;
    height: 100%;
    margin: auto;

    &__button-add {
        position: absolute;
        left: 87.5%;
        top: 0%;
        height: fit-content;
        width: fit-content;
        position: relative;
        background-color: transparent;

        button {
            height: 5vh;
            width: 10vw;
            background-color: #fff;
            border-radius: 10px;
            border: none;

            transform: translateY(-50%);
            color: black;

            .icon {
                margin-left: 0.5vw;
                margin-top: 0.5vh;
            }
        }

        button:hover {
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
            background-color: #b4e2b3;
        }
    }

    &__content::-webkit-scrollbar {
        display: none;
    }

    &__content {
        width: 100%;
        height: 82vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: auto;
        overflow-x: hidden;

        &__sub {
            width: 100%;
            height: 80vh;
            margin-bottom: 20px;
            display: grid;
            grid-template-rows: 1% 99%;
        }

        &__icon {
            width: 100%;
            margin-left: 90%;
            margin-top: 5vh;
            justify-content: flex-end;

            span {
                font-size: 20px;
                margin: 5px;
            }
            .delete-parking-lot {
                color: 555;
            }
            .delete-parking-lot:hover {
                color: red;
            }

            .edit-parking-lot {
                color: #555;
            }

            .edit-parking-lot:hover {
                color: #41bc3f;
            }
        }

        &__item {
            height: 80vh;
            width: 100%;
            margin: 0 auto;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 50% 50%;
            background-color: #fff;

            &__image {
                width: 85%;
                height: 85%;
                margin: auto;
                border-radius: 20px;
            }

            &__info {
                width: 100%;
                margin: auto 0;

                div {
                    height: 7vh;
                    display: grid;
                    grid-template-columns: 30% 70%;

                    .properties {
                        font-weight: bold;
                        text-align: right;
                        width: 8vw;
                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

.delete-parking-lot-modal {
    width: 30vw !important;
    top: 30% !important;

    .ant-modal-content {
        border-radius: 20px !important;

        .ant-modal-header {
            border-radius: 20px 20px 0 0;
            background-color: #e9e9e9;
        }

        .ant-modal-body {
            height: 10vh !important;
        }

        .ant-modal-footer {
            text-align: center;

            .ant-btn {
                width: 7vw;
                height: 5vh;
                border-radius: 20px;
                font-size: 14px;
                font-weight: bolder;
                margin: 0 1vw;
                color: #222;
                background-color: #d5d5d5;
                border: none;
            }

            .ant-btn-primary {
                background: #41bc3f;
                color: #fff;
            }
        }
    }
}
